@using BttMe.Data;
@model MatchListViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-sm">
    <thead>
    <tr>
        <th scope="col">Match Id</th>
        <th scope="col">DateTime</th>
        <th scope="col">Match</th>
        <th scope="col">Most Goal - 1</th>
        <th scope="col">Most Goal - 2</th>
        <th scope="col">Diff</th>
        <th scope="col">First Half - 1 </th>
        <th scope="col">First Half - 2</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var m in Model.MatchVMList)
        {
            <tr>
                <th scope="row">@m.MatchID</th>
                <td>@m.DateTime</td>
                <td class="match-name">
                    <img class="league-flag" src="@m.LeagueFlag"/>
                        @Html.ActionLink($"{m.Team1}-{m.Team2}", "MatchDetail", "Home", routeValues: new { gameId = m.MatchID })
                </td>
                <td colspan="0">
                    <button type="button"
                            class="btn @(m.MostGoalsHalf1 == 0 ? string.Empty : (m.MostGoalsHalf1 < 2.70 ? "btn-success" : "btn-danger"))">@m.MostGoalsHalf1.Value.ToString("F2")</button>
                </td>
                    <td colspan="0">@m.MostGoalsHalf2.Value.ToString("F2")</td>
                <td colspan="0">
                    <button type="button"
                            class="btn @(m.MostGoalsHalfDiff == 0 ? string.Empty :  (m.MostGoalsHalfDiff < 0.75 ? "btn-success" : "btn-danger"))">@m.MostGoalsHalfDiff.Value.ToString("F2")</button>
                </td>
                <td colspan="0">@m.FirstHalf1.Value.ToString("F2")</td>
                <td colspan="0">@m.FirstHalf2.Value.ToString("F2")</td>
            </tr>
        }
    }
    </tbody>
</table>